@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    width:100%;
    overflow-x:hidden;
    background-color: #000000 !important;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ffffff' fill-opacity='0.24'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
}
.header{
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    position: relative;
    height:550px;
}
.header .nav__menu{
    display:flex;
    list-style:none;
    justify-content:center;
    margin-right: 30px;
}
.header .nav{
    display:flex !important;
    justify-content:space-between;
    align-items:center;
    position: relative;
    height:70px;
    background: #000000;
}



.header .nav__menu a{
    display:inline-block;
    text-decoration:none;
    color:#fff;
    margin:22px 15px;
}

.header .active {
    color:#fff;
    text-decoration:underline 3px !important;
    margin-bottom:3px !important;
}

.header .nav__menu li{
}
.header .nav__menu li:nth-child(1) a:hover{
    color:#fff;
    filter: hue-rotate(0deg);
    text-shadow:2px 2px 10px #03e9f4,-2px -2px 10px #03e9f4,2px -2px 10px #03e9f4;
    /* background-image: linear-gradient(to bottom, #e8f2f1, #c8d1d1, #a9b1b2, #8b9294, #6f7476); */
}
.header .nav__menu li:nth-child(2) a:hover{
    color:#fff;
    text-shadow:2px 2px 10px #0f0,-2px -2px 10px #0f0,2px -2px 10px #0f0;
}
.header .nav__menu li:nth-child(3) a:hover{
    color:#fff;
    text-shadow:2px 2px 10px #FF00FB,-2px -2px 10px #FF00FB,2px -4px 10px #FF00FB,-4px 4px 10px #FF00FB;
}
.header .nav__menu li:nth-child(5) a:hover{
    color:#fff;
    text-shadow:2px 2px 10px #ff0,-2px -2px 10px #ff0,2px -2px 10px #ff0;
}
.header .nav__menu li:nth-child(4) a:hover{
    color:#fff;
    text-shadow:2px 2px 10px #f80000 ,-2px -2px 10px #f80000 ,2px -2px 10px #f80000;
}
.header .nav__menu li:nth-child(6) a:hover{
    color:#fff;
    text-shadow:2px 2px 10px #F6F6F6,-2px -2px 10px #F6F6F6 ,2px -2px 10px #fff;
}
.header .nav__menu .logo-slogan i{
    display:inline-block;
    margin-right:6px;
}
.header .logo{
    /* display:inline-block !important; */
    /* width:100px; */
    height:100px;
    /* object-fit:contain; */
    margin-top: 15px;
    filter: drop-shadow(0 0 5px #fff) brightness(2) saturate(180%);
}
.header .letters span {
    font-size:34px;
    color:#fff;
    text-align: center;
    font-family: impact;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
    -webkit-text-fill-color: #D4AF37;
    -webkit-text-stroke: 2px #2340F3;
}
.header span:first-child{
    font-size:46px;
}
.header span:nth-child(4){
    font-size:46px;
}
.header .logo-slogan{
    display:flex;
    height:70px;
    align-items:center;
    margin-left: 200px;
}
.header .letters{
  display:flex;
  justify-content:center;
  align-items:center;
}
.header .title-header{
    font-family: 'Great Vibes', cursive;
    color:#fff;
    font-size:3em !important;
}
.header .fondo{
    width:100%;
    height:100%;
    background-image: url("../../../../assets/images/images/fondo2.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
.header .text{
    display:flex;
    align-items:flex-start;
    flex-direction:column;
    width:580px;
    position:absolute;
    /* left:130px; */
    margin: 0 50px;
    top:120px;
    padding:40px 30px 30px 30px;
    color:#fff;
    font-size:2em;
    border-radius:10px;
    font-family: 'Poppins', sans-serif;
    background:rgba(0, 0, 0, 0.8);
}
.header .text2{
    display:flex;
    align-items:center;
    flex-direction:column;
    /* width:580px; */
    /* position:absolute; */
    /* left:130px; */
    margin: 70px 50px;
    padding:40px 30px 30px;
    color:#fff;
    font-size:12px;
    border-radius:10px;
    font-family: 'Poppins', sans-serif;
    background:rgba(0, 0, 0, 0.8);
}
.header h1{
    font-size:2em !important;
}
.header .text p{
    font-size:14px;
    margin-bottom:30px;
}

.header .text button{
    display:inline-block;
    color:#000;
    font-weight:900;
    padding:5px 8px;
    width:100px;
    font-family: 'Poppins', sans-serif;
    font-size:14px;
    background:#FFC300;
    border-radius:5px;
    border:none;
}
.header .text button:hover{
    background:#F7E45A;
    cursor: pointer;
}
.header hr{
    position:relative;
    background:white !important;
    opacity:0.2;
    z-index:500;
    width:100%;
    /* left:130px; */
    bottom:17px;
}