.bgImage{
    height: 70vh;
    width: 100vw;
    background-image: url("../../../assets/videos/gif/noFound.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}